{{ partial "header" . }}


<section class="single-section-sm pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3"> 
                
                
                
                <div class="sidebar">
                    <div class="profile-img">
                        <img src="{{ $.Site.BaseURL }}images/moi.jpg" class="img-responsive" alt="Moi">
                    </div>
                    
                    <h2><strong> Nadjidine B.</strong></h2>
                    <h3 class="title_nb">Expert en ingénierie logiciel </h3>
                    <hr>
                    <!--Bloc projets only-->
                    {{ $url := urls.Parse .Permalink }}
              
                    {{ if strings.Contains $url "/projets"}}
                
                    <h2><strong> Projets</strong></h2>
                    <ul class="list-group">                             
                        <li class="list-group-item">
                          <a  href="{{ $.Site.BaseURL }}projets/transition-4.0/">Transition 4.0</a>
                        </li>
                        
                        <li class="list-group-item">
                          <a  href="{{ $.Site.BaseURL }}projets/backlinks-seo/">Backlink SEO</a>
                        </li>
                        
                        <li class="list-group-item">
                          <a  href="{{ $.Site.BaseURL }}projets/numericom/">Numéri'com</a>
                        </li>
                        
                        <li class="list-group-item">
                          <a  href="{{ $.Site.BaseURL }}projets/citi/">C'ITI</a>
                        </li>
                        
                        <li class="list-group-item">
                          <a  href="{{ $.Site.BaseURL }}projets/mobilavenue/">Mobil'Avenue</a>
                        </li>
                        
                        <li class="list-group-item">
                          <a  href="{{ $.Site.BaseURL }}projets/dashboardappro/">Dashboard Appros</a>
                        </li>
                      
                    </ul>
                    {{ end }}

                    <!-- Bloc comp only-->
                    {{ $url := urls.Parse .Permalink }}
                    {{ if strings.Contains $url "/competences"}}
                
                    <h2><strong> Compétences</strong></h2>
                    <ul class="list-group">                             
                        <li class="list-group-item">
                            <a  href="{{ $.Site.BaseURL }}competences/autonomie/">Autonomie</a>
                        </li>
                        
                        <li class="list-group-item">
                            <a  href="{{ $.Site.BaseURL }}competences/communication/">Communication</a>
                        </li>

                        <li class="list-group-item">
                            <a  href="{{ $.Site.BaseURL }}competences/gestion-de-projet/">Gestion de projets</a>
                        </li>
                        
                        <li class="list-group-item">
                            <a  href="{{ $.Site.BaseURL }}competences/html-css/">HTML5/CSS3</a>
                        </li>
                        
                        <li class="list-group-item">
                            <a  href="{{ $.Site.BaseURL }}competences/php/">PHP</a>
                        </li>
                        
                        <li class="list-group-item">
                            <a  href="{{ $.Site.BaseURL }}competences/python/">Pyhton</a>
                        </li>

                        <li class="list-group-item">
                            <a  href="{{ $.Site.BaseURL }}competences/r-and-d/">Recherche & Développement</a>
                        </li>
                        
                        <li class="list-group-item">
                            <a  href="{{ $.Site.BaseURL }}competences/qlik/">Qlik</a>
                        </li>

                        <li class="list-group-item">
                            <a  href="{{ $.Site.BaseURL }}competences/sql/">SQL</a>
                        </li>

                        <li class="list-group-item">
                            <a  href="{{ $.Site.BaseURL }}competences/vba/">VBA</a>
                        </li>
                      
                    </ul>

                    {{ end }}

                </div>
        
            </div>
        
            <div class="col-lg-7 col-md-7">

                <main>

				    <h1>{{ .Title }}</h1>

				    {{ range (.Paginator 5).Pages }} {{ partial "list-item" . }} {{ end }}

                    {{ $paginator := .Paginator }}

            <!-- If there's more than one page. -->
            {{ if gt $paginator.TotalPages 1 }}

            <ul class="pagination">
                
                <!-- First page. -->
                {{ if ne $paginator.PageNumber 1 }}
                <li class="pagination__item pagination__item--first">
                <a class="pagination__link pagination__link--first" href="{{ $paginator.First.URL }}">
                    «« Début
                </a>
                </li>
                {{ end }}

                <!-- Previous page. -->
                {{ if $paginator.HasPrev }}
                <li class="pagination__item pagination__item--previous">
                <a href="{{ $paginator.Prev.URL }}" class="pagination__link pagination__link--previous">
                    « Précedent
                </a>
                </li>
                {{ end }}
            
                <!-- Page numbers. -->
                {{ range $paginator.Pagers }}
                <li class="pagination__item{{ if eq . $paginator }} pagination__item--current{{ end }}">
                <a href="{{ .URL }}" class="pagination__link">
                    {{ .PageNumber }}
                </a>
                </li>
                {{ end }}

                <!-- Next page. -->
                {{ if $paginator.HasNext }}
                <li class="pagination__item pagination__item--next">
                <a href="{{ $paginator.Next.URL }}" class="pagination__link pagination__link--next">
                   Suivant »
                </a>
                </li>
                {{ end }}

                <!-- Last page. -->
                {{ if ne $paginator.PageNumber $paginator.TotalPages }}
                <li class="pagination__item pagination__item--last">
                <a class="pagination__link pagination__link--last" href="{{ $paginator.Last.URL }}">
                   Fin »»
                </a>
                </li>
                {{ end }}

            </ul><!-- .pagination -->
            {{ end }}

				</main>

            </div>
            <!--TOC-->
            <div class="col-lg-2 col-md-2">
                <nav id="toc" data-spy="affix" data-toggle="toc"></nav>
            </div>
        </div>
    </div>
</section>




{{ partial "paginator" . }}
{{ partial "footer" . }}
